<!DOCTYPE html>
<html lang="en">

<head>
    <title>University time blocks</title>
    <% include partials/head %>
</head>

<body>
    <% include partials/nav %>
    <div class="timeblocks js_global_container" data-type="timeblocks">
        <div class="table100 ver3 m-t-30">
            <table data-vertable="ver3">
                <thead>
                    <tr class="row100 head">
                        <th class="column100 column1">Time block<span title="Add time block" data-toggle="modal" data-target="#addModal"><i class="fas fa-plus-circle"></i></span></th>
                        <th class="column100 column2">Days a week</th>
                        <th class="column100 columnAction">Action</td>
                    </tr>
                </thead>
                <tbody>
                    <% timeblocks.forEach(function(timeblock) { %>
                    <tr class="row100">
                        <td class="column100 column1">
                            <%= timeblock.timeBlock %>
                        </td>
                        <td class="column100 column2">
                            <%= timeblock.daysAWeek %>
                        </td>
                        <td class="column100 columnAction">
                            <span data-process="edit-<%= timeblock.time_block_id %>" title="Edit time block" data-toggle="modal" data-target="#editModal"><i class="fas fa-edit"></i></span>
                            <span data-process="delete-<%= timeblock.time_block_id %>" title="Delete time block"><i class="fas fa-minus-circle"></i></span>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Insert modal -->
    <div class="insert-modal" data-js_edit_id="-1">
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Add time block</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body m-t-20">
                        <div class="wrap-input100 validate-input m-b-35" data-validate="Password missing">
                            <input class="input100" id="field1" type="text">
                            <span class="focus-input100" data-placeholder="Time block"></span>
                        </div>
                        <div class="wrap-input100 validate-input" data-validate="Password missing">
                            <input class="input100" id="field2" type="text">
                            <span class="focus-input100" data-placeholder="Days a week"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-add btn-validate">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Edit modal -->
    <div class="edit-modal">
        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Edit time block</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body m-t-20">
                        <div class="wrap-input100 validate-input" data-validate="Password missing">
                            <input class="input100" id="efield1" type="text">
                            <span class="focus-input100" data-placeholder="Time block"></span>
                        </div>
                    </div>
                    <div class="modal-body m-t-20">
                        <div class="wrap-input100 validate-input" data-validate="Password missing">
                            <input class="input100" id="efield2" type="text">
                            <span class="focus-input100" data-placeholder="Days a week"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-edit">Edit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/select2/select2.min.js"></script>
    <script src="js/edit.js" type="module"></script>

</body>

</html>