<!DOCTYPE html>
<html lang="en">
<head>
	<title>University Schedules</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
	<link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet">    
	<link rel="stylesheet" type="text/css" href="css/univ.css">
	<link rel="stylesheet" type="text/css" href="css/util.css">
</head>
<body>
	<nav>
        <% if(isAdmin == 2) { %>
        <ul class="admin-nav">
            <li>Edit</li>
            <li>Professors</li>
        </ul>
        <ul class="main-nav">
                <li>Professor: <%= username %></li>
                <li><a href="/logout">Logout</a></li>
        </ul>
        <% } %>
        <% if(isAdmin == 1) { %>
        <ul class="main-nav">
            <li>Professor: <%= username %></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
        <% } %>
        <% if(isAdmin == 0) { %>
        <ul class="main-nav">
            <li><a href="/login">Login</a></li>
        </ul>        
        <% } %>    
    </nav>
    
    <div class="table100 ver3 m-t-30 m-l-50 m-r-50">
        <table data-vertable="ver3">
            <thead>
                <tr class="row100 head">
                    <th class="column100 column1" data-column="column1">Course code</th>
                    <th class="column100 column2" data-column="column2">Course name</th>
                    <th class="column100 column3" data-column="column3">Period</th>
                    <th class="column100 column4" data-column="column4">Time block</th>
                    <th class="column100 column5" data-column="column5">Classroom</th>
                    <th class="column100 column6" data-column="column6">Building</th>
                </tr>
            </thead>
            <tbody>
                <tr class="row100">
                    <td class="column100 column1" data-column="column1">Matemáticas</td>
                    <td class="column100 column2" data-column="column2">Alfonso López</td>
                    <td class="column100 column3" data-column="column3">9.0</td>
                    <td class="column100 column4" data-column="column4">6.0</td>
                    <td class="column100 column5" data-column="column5">8.5</td>
                    <td class="column100 column6" data-column="column6">7.96</td>
                </tr>
                <tr class="row100">
                    <td class="column100 column1" data-column="column1">Matemáticas</td>
                    <td class="column100 column2" data-column="column2">Alfonso López</td>
                    <td class="column100 column3" data-column="column3">9.0</td>
                    <td class="column100 column4" data-column="column4">6.0</td>
                    <td class="column100 column5" data-column="column5">8.5</td>
                    <td class="column100 column6" data-column="column6">7.96</td>
                </tr>
                <tr class="row100">
                    <td class="column100 column1" data-column="column1">Matemáticas</td>
                    <td class="column100 column2" data-column="column2">Alfonso López</td>
                    <td class="column100 column3" data-column="column3">9.0</td>
                    <td class="column100 column4" data-column="column4">6.0</td>
                    <td class="column100 column5" data-column="column5">8.5</td>
                    <td class="column100 column6" data-column="column6">7.96</td>
                </tr>
                <tr class="row100">
                    <td class="column100 column1" data-column="column1">Matemáticas</td>
                    <td class="column100 column2" data-column="column2">Alfonso López</td>
                    <td class="column100 column3" data-column="column3">9.0</td>
                    <td class="column100 column4" data-column="column4">6.0</td>
                    <td class="column100 column5" data-column="column5">8.5</td>
                    <td class="column100 column6" data-column="column6">7.96</td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="/socket.io/socket.io.js"></script>
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="vendor/select2/select2.min.js"></script>
	<script src="js/univ.js"></script>

</body>
</html>