/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/
* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  font-size: 18px;
}

/* ------------------------------------ */
h1,h2,h3,h4,h5,h6 {margin: 0px;}

a:visited, a:link, a:active
{
    text-decoration: none;
    color: #808080;
}
p {margin: 0px;}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/* ------------------------------------ */
input {
  display: block;
	outline: none;
	border: none !important;
}

textarea {
  display: block;
  outline: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

/* ------------------------------------ */
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

/* NAV BAR */
nav {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    box-shadow: 0 3px 10px #e5e5e5;
    text-transform: uppercase;
    color: #808080;
}
nav ul {
    display: flex;
    list-style: none;
}
.admin-nav {
    flex-grow: 1;
}
.main-nav {
    flex-grow: 1;
    justify-content: flex-end;
}

nav li {
  padding: 15px 25px;
  letter-spacing: 1px;
}

nav li:hover {
  box-shadow: inset 0 -3px 0 #6a73b4;
  cursor: pointer;
}

nav li:hover .submenu > li {
  display: block;
  width: 216px;
}

.submenu > li:hover {
  box-shadow: 0 3px 10px #e5e5e5;
  transition: all 0.2s ease-in;
  color: #6a73b4;
}
.submenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 3px 10px #e5e5e5;
  top:57px;
  left: 0;
}

.submenu li {
  display: none;
}
/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  min-height: 100vh;
  background: #d1d1d1;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

/* .wrap-table100 {
  width: 1300px;
} */

/*//////////////////////////////////////////////////////////////////
[ Table ]*/
table {
  width: 100%;
  background-color: #fff;
}

th, td {
  font-weight: unset;
  padding-right: 25px;
}

.row100.head th {
  padding-top: 24px;
  padding-bottom: 20px;
}

.row100 td {
  padding-top: 18px;
  padding-bottom: 14px;
}

.row100 span {
  font-size: 18px;
  color: #808080;
  cursor: pointer;
}

.row100 span:last-child {
  margin-left: 10px;
}

.principal .column100 {
  width: 150px;
  padding-left: 25px;
}

.principal .column1,
.principal .column3,
.principal .column4,
.principal .column5 {
  width: 240px;
}
.principal .column8 {
  text-align: center;
}

/*==================================================================
[ TABLE Ver3 ]*/
.table100.ver3 th:first-child {
    border-top-left-radius: 10px;
}
.table100.ver3 th:last-child {
    border-top-right-radius: 10px;
}
.table100.ver3 tbody tr {
  border-bottom: 1px solid #e5e5e5;
}

.table100.ver3 td {
  font-size: 16px;
  color: #808080;
  line-height: 1.4;
}

.table100.ver3 th {
  font-size: 17px;
  color: #fff;
  line-height: 1.4;
  text-transform: uppercase;
  background-color: #6a73b4;
}

.table100.ver3 .row100:hover td {
  background-color: rgba(214, 214, 214, 0.2);
}

.table100.ver3 .hov-column-ver3 {
  background-color: rgba(214, 214, 214, 0.2);
}

.table100.ver3 .hov-column-head-ver3 {
  background-color: rgba(106, 115, 180, 0.84) !important;
}