<!-- NAV -->
<nav>
        <% if(isAdmin == 2) { %>
        <ul class="admin-nav">
            <li>Administration
                <ul class="submenu">
                    <li onclick="location.href = '/departments'">Departments</li>
                    <li onclick="location.href = '/departments'">Professors</li>
                    <li onclick="location.href = '/departments'">Courses</li>
                    <li onclick="location.href = '/departments'">Periods</li>
                    <li onclick="location.href = '/departments'">Time blocks</li>
                    <li onclick="location.href = '/departments'">Classrooms</li>
                    <li onclick="location.href = '/departments'">Schedules</li>
                </ul>
            </li>
        </ul>
        <ul class="main-nav">
                <li>Professor: <%= username %></li>
                <a href="/logout"><li>Logout</li></a>
        </ul>
        <% } %>
        <% if(isAdmin == 1) { %>
        <ul class="main-nav">
            <li>Professor: <%= username %></li>
            <a href="/logout"><li>Logout</li></a>
        </ul>
        <% } %>
        <% if(isAdmin == 0) { %>
        <ul class="main-nav">
            <a href="/login"><li>Login</li></a>
        </ul>        
        <% } %>    
    </nav>