<!-- NAV -->
<nav>
        <% if(isAdmin == 2) { %>
        <ul class="admin-nav">
            <li>Edit</li>
            <li>Professors</li>
        </ul>
        <ul class="main-nav">
                <li>Professor: <%= username %></li>
                <a href="/logout"><li>Logout</li></a>
        </ul>
        <% } %>
        <% if(isAdmin == 1) { %>
        <ul class="main-nav">
            <li>Professor: <%= username %></li>
            <a href="/logout"><li>Logout</li></a>
        </ul>
        <% } %>
        <% if(isAdmin == 0) { %>
        <ul class="main-nav">
            <a href="/login"><li>Login</li></a>
        </ul>        
        <% } %>    
    </nav>